graft aiogoogle/
include requirements.txt
include test_requirements.txt
include README.md
include *keys_template.py
global-exclude *.pyc
global-exclude *tox_private.ini
global-exclude personal_notes/
global-exclude */keys.yaml
prune tests/
global-exclude **/*service_account.json
global-exclude **/test_service_account.json
global-exclude **/*Zone.Identifier